<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.uldskull.rolegameassistant"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <application>

    </application>

</manifest>